.demo-table {
    width: 100%;
  }
  
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: 500;
  background-color: rgb(237, 237, 237);
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.pdf-viewer {
  height: 600px;
  width: 500px;
  display: block;
  margin-left: -10px;
}