<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1>Consulta de Documentos</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4 mt-5">
      <div class="card-header py-3">
          <mat-tab-group animationDuration="0ms" (click)="changeTab()">
              <mat-tab label="Pendiente"> 
                  <br>
                  <nav class="navbar justify-content-between mt-2">
                      <form class="form-inline ">
                          <label for="Buscar mr-4" style="margin-right: 10px !important;">Buscar Documento :</label>
                          <input class="form-control mr-sm-2" type="text" aria-label="Buscar" (keyup)="buscar(termino.value)" #termino>
                      </form>
                  </nav>
                  <div class="card-body ">
                      <div class="custom-scroll-dt" *ngIf="!loading">
                          <div class="text-center" *ngIf="listLegalizationsPending.length == 0">No hay datos</div>
                          <table mat-table [dataSource]="listLegalizationsPending" class="mat-elevation-z8 demo-table" *ngIf="listLegalizationsPending.length > 0">
                              <!-- Position Column -->
                              <ng-container matColumnDef="tipoDocumento">
                                <th mat-header-cell *matHeaderCellDef> Tipo de Documento </th>
                                <td mat-cell *matCellDef="let element"> {{element.documentType.name}} </td>
                              </ng-container>

                              <!-- Name Column -->
                              <ng-container matColumnDef="institucion">
                                <th mat-header-cell *matHeaderCellDef> Institucion </th>
                                <td mat-cell *matCellDef="let element"> {{element.academicInstitution.name}} </td>
                              </ng-container>

                              <!-- Weight Column -->
                              <ng-container matColumnDef="carrera">
                                <th mat-header-cell *matHeaderCellDef> Carrera </th>
                                <td mat-cell *matCellDef="let element"> {{element.career.name}} </td>
                              </ng-container>

                              <!-- Symbol Column -->
                              <ng-container matColumnDef="fecha">
                                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                <td mat-cell *matCellDef="let element"> {{ element.creationDate | date }} </td>
                              </ng-container>

                              <ng-container matColumnDef="empty-row">
                                  <mat-cell *matCellDef="let element">No Data</mat-cell>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr 
                                  mat-row
                                  (click)="mostrar(row)"
                                  [class.demo-row-is-clicked]="clickedRows.has(row)"
                                  *matRowDef="let row; columns: displayedColumns;"
                              ></tr>
                          </table>
                      </div>
                  </div>
              </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</div>

<div class="container">
  <div class="card shadow mb-2 mt-2" *ngIf="loadingDocument">
      <div class="card-header py-3">
          Documento: {{selectLegalization.documentType.name}}
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card-body">
            <div class="card-text">
                <pdf-viewer
                    [src]="pdfSrc"
                    [render-text]="true"
                    [original-size]="false"
                    [zoom]="1"
                    class="pdf-viewer"
                ></pdf-viewer>
                <br>
            </div> 
        </div>
        <hr>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <button mat-raised-button color="warn" (click)="descargarPDF()">Descargar PDF</button>
                </div>
            </div>
        </div>
        </div>
        <div class="col-6">
          <h5 style="font-weight: 700;" class="mt-5">Datos del estudiante</h5>
            
          <div class="form-group mt-5">
                <label style="font-weight: bold;">Nombre Completo</label>
                <input name="name" [(ngModel)]="userModel.name + ' ' + userModel.lastname" type="text" class="form-control"  style="width: 350px;" disabled>
          </div>

          <div class="form-group mt-5">
            <label style="font-weight: bold;">Institucion</label>
            <input name="name" [(ngModel)]="userModel.name + ' ' + userModel.lastname" type="text" class="form-control"  style="width: 350px;" disabled>
          </div>

          <div class="form-group mt-5">
            <label style="font-weight: bold;">Tipo de documento</label>
            <input name="name" [(ngModel)]="userModel.name + ' ' + userModel.lastname" type="text" class="form-control"  style="width: 350px;" disabled>
          </div>

        </div>
      </div>

  </div>
</div>
