<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gestión de Legalizaciones</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 mt-5">
        <div class="card-header py-3">
            <!-- <h6 class="m-0 font-weight-bold text-primary">Departamentos</h6> -->
        </div>

        <nav class="navbar justify-content-between mt-2">
            <a class="navbar-brand">
                <a class="btn btn-primary btn-icon-split ml-1" type="button" (click)="abrirModalCrear()">
                    <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
            </span>
                    <span class="text">Nueva Solicitud</span>
                </a>
            </a>

            <form class="form-inline ">
                <label for="Buscar mr-4" style="margin-right: 10px !important;">Buscar Institucion:</label>
                <input class="form-control mr-sm-2" type="text" aria-label="Buscar" (keyup)="buscar(termino.value)" #termino>
            </form>
        </nav>
        <div class="card-body ">
            <div class="custom-scroll-dt">
                <table class="table table-bordered" width="100%" cellspacing="0" role="grid" style="width: 100%;">
                    <div class="cover" *ngIf="(hoverShowed && !loading)"></div>
                    <thead>

                        <tr>
                            <th>Tipo de documento</th>
                            <th>Institucion</th>
                            <th>Fecha de Creacion</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <app-loading class="mt-5" *ngIf="loading" style="margin-left: 700px; position: absolute;"></app-loading>

                    <tbody *ngIf="!loading">
                        <tr>
                            <td>Record de Notas</td>
                            <td>Universidad Iberoamericana (UNIBE)</td>
                            <td>12-03-2023</td>
                            <td>Recibida</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- Modal -->
<div class="modal fade bd-example-modal-lg margin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalCreateDepartamento">
    <app-agregar-departamento (newItemEvent)="refrescarDepartamentos()"></app-agregar-departamento>
</div>

<div class="modal fade bd-example-modal-lg margin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalEditDepartamento">
    <app-editar-departamento [departamentoActual]="departamentoActual" (newItemEvent)="refrescarDepartamentos()"></app-editar-departamento>
</div>