<div class="modal-dialog modal-lg" role="document" id="modalDahian">
    <div class="modal-content">

        <div class="modal-body">
            <form #agregarUsuarioForm="ngForm" (ngSubmit)="agregarUsuario(agregarUsuarioForm)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
                    <button type="button" class="close" (click)="cerrarModal(agregarUsuarioForm)">
                         <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="puestoId">Puesto</label>
                        <select name="puestoId" id="puestoId" class="form-control" [(ngModel)]="model.puestoId" required>
                            <option value=""  selected></option>
                            <option value="{{value?.value}}" *ngFor="let value of getPuestosActivos()" >{{value.descripcion}}</option> 
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input name="nombre" type="text" class="form-control" id="nombre" [(ngModel)]="model.nombre" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="apellido">Apellido</label>
                        <input name="apellido" type="text" class="form-control" id="apellido" [(ngModel)]="model.apellido" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cedula">Cedula</label>
                        <input name="cedula" type="text" class="form-control" id="cedula" [(ngModel)]="model.cedula" required pattern="^[0-9]{3}-?[0-9]{7}-?[0-9]{1}$">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="telefono">Telefono</label>
                        <input name="telefono" type="tel" class="form-control" id="telefono" [(ngModel)]="model.telefono" required pattern="(8(?:0|2|4)9)\-?(\d{3})\-?(\d{4})">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="correo">Correo</label>
                        <input name="correo" type="email" class="form-control" id="correo" [(ngModel)]="model.correo" required pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fechaDeNacimiento">Fecha De Nacimiento</label>
                        <input name="fechaNacimiento" type="date" class="form-control" id="fechaDeNacimiento" [(ngModel)]="model.fechaNacimiento" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombreUsuario">NombreUsuario</label>
                        <input name="nombreUsuario" type="email" class="form-control" id="nombreUsuario" [(ngModel)]="model.nombreUsuario" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="contrasena">Contraseña</label>
                        <input name="contrasena" type="password" class="form-control" id="contrasena" [(ngModel)]="model.contrasena" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState2">Estatus</label>
                        <select name="estatus" id="inputState2" class="form-control" [(ngModel)]="model.estatus" required>
                          <option value="{{value?.value}}" *ngFor="let value of getValorEstatus()" >{{value?.descripcion}}</option>
                    </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary mr-4">Guardar  <i class="fas fa-save"></i></button>
                    <button style="margin-right: 240px; margin-left: 50px;" type="button" class="btn btn-danger" (click)="cerrarModal(agregarUsuarioForm)">Cancelar  <i class="fas fa-times"></i></button>
                </div>
            </form>
        </div>

    </div>
</div>