select:required:invalid {
    color: gray;
}

option[value=""] {
    display: none;
}

option {
    color: black;
}

.container-sizer {
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
}

.alinear {
    margin-left: 515px;
    width: 80%;
    margin-bottom: 10px;
}