<ol class="breadcrumb mt-5">
    <li class="breadcrumb-item active hover" routerLink="/datospatrocinados"><i class="fa fa-home font-16 active mr-2"> </i>DigitalDocument</li>
    <li class="breadcrumb-item active">Solicitudes</li>
    <li class="breadcrumb-item active active-route">Solicitud Legalización</li>
</ol>

<div class="mt-5 ml-3">
    <a class="image" style="margin-top: -1px;" routerLink="/"></a>
    <h5 style="margin-left: 30px;">Solicitud de legalizaciones</h5>
</div>


<div class="card o-hidden border-0 shadow-lg mt-5 ml-3" style="width: 90%;">
    <div class="card-body p-0">

        <h6 style="font-weight: 700;" class="mt-5 ml-4">Datos del estudiante</h6>

        <form #legalizacionForm="ngForm" class="user" (ngSubmit)="solicitudLegalizacion(legalizacionForm)" autocomplete="on">
            <div class="ml-4 mt-5">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label style="font-weight: bold;">Nombre Completo</label>
                            <input name="name" [(ngModel)]="userModel.name + ' ' + userModel.lastname" type="text" class="form-control"  disabled>
                        </div>
                    </div>
                    <div class="col-4" style="margin-left: 200px;">
                        <div class="form-group">
                            <label style="font-weight: bold;">Tipo Identificacion</label>
                            <select name="identificationType" [(ngModel)]="userModel.identificationType" class="form-control form-control-select" disabled>
                                <option value="0">Cedula</option>
                                <option value="1">Pasaporte</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4">
                        <div class="form-group">
                            <label style="font-weight: bold;">Correo</label>
                            <input name="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"  [(ngModel)]="userModel.email" type="email" class="form-control"  disabled>
                        </div>
                    </div>
                    <div class="col-4" style="margin-left: 200px;">
                        <div class="form-group">
                            <label style="font-weight: bold;">Identificacion</label>
                            <input name="identification" [mask]="(model.identificationType == 0 ? '000-0000000-0' : 'AAAAAAAAA')" [(ngModel)]="userModel.identification" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>

                <h6 style="font-weight: 700;" class="mt-5">Datos de la solicitud de legalización</h6>

                <div class="row mt-5">
                    <div class="col-4">
                        <div class="form-group">
                            <label style="font-weight: bold;">Institución académica</label>
                            <select name="academicInstitutionId" [(ngModel)]="model.academicInstitutionId" class="form-control form-control-select" (change)="setCosto()" required>
                                <option [value]="academic.id" *ngFor="let academic of this.academicInstitutionList">{{ academic.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4" style="margin-left: 200px;">
                        
                        <div class="form-group">
                            <label style="font-weight: bold;">Tipo de documento</label>
                            <select name="documentTypeId" [(ngModel)]="model.documentTypeId" class="form-control form-control-select" required> 
                                <option [value]="document.id" *ngFor="let document of this.documentTypesList">{{ document.name }}</option>
                            </select>
                            <span class="link hover mt-2" style="position: absolute;">Ver costo de documentos <i class="fa fa-solid fa-search"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4">
                        <div class="form-group">
                            <label style="font-weight: bold;">Carrera académica</label>
                            <select name="careerId" [(ngModel)]="model.careerId" class="form-control form-control-select" required>
                                <option [value]="career.id" *ngFor="let career of this.careersList">{{ career.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4" style="margin-left: 200px;">
                        <!-- <div class="form-group">
                            <label style="font-weight: bold;">Número de tarjeta</label>
                            <input mask="0000-0000-0000-0000" name="card" [(ngModel)]="model.card" type="text" class="form-control" placeholder="0000-0000-0000-0000" >
                        </div> -->
                        <div class="form-group">
                            <label style="font-weight: bold;">Costo</label>
                            <div class="currency-wrap">
                                <span class="currency-code">$</span>
                            </div>
                            <input name="amount" [(ngModel)]="model.amount" type="text" class="form-control text-currency"  disabled>
                        </div>

                       
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4">
                        
                    </div>
                    
                    <div class="col-4" style="margin-left: 200px;">
                        <!-- <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label style="font-weight: bold;">Fecha de expiración</label>
                                    <input mask="M0/00" name="expirationDateCard" [(ngModel)]="model.expirationDateCard" type="text" class="form-control" placeholder="MM/YY" >
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label style="font-weight: bold;">CVC</label>
                                    <input mask="000" name="cvc" [(ngModel)]="model.cvc" type="text" class="form-control" placeholder="000" >
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>

                <div class="row" >
                    <div class="col-4">
                        <div class="form-group">
                            <label style="font-weight: bold;">Documento</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" style="height: 35px;">.PDF</span>
                                </div>
                                <div class="custom-file">
                                  <input [(ngModel)]="model.documentPdf" name="documentPdf" type="file" class="custom-file-input" id="inputGroupFile01" #fileInput (change)="preUpload($event); handleUpload($event);" accept="application/pdf" required>
                                  <label class="custom-file-label" *ngIf=!isFileChosen>Elegir archivo para legalizar</label>
                                  <label class="custom-file-label" for="inputGroupFile01" *ngIf=isFileChosen>{{fileName}} <img src="../assets/img/PDF_file_icon.svg.png" width="15"> </label>
                                </div>
                              </div>

                            <p class="mt-1" id="file_input_help" style="font-size: 13px;">Archivos aceptados solo (PDF).</p>
                            <!-- <input type="checkbox">
                            <label for="scales" class="ml-2">Recibir documento físico</label> -->
                        </div>
                    </div>
                    <div class="col-4" style="margin-top: 100px; margin-left: 200px;">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary btn-block mt-4 mb-3" style="background-color: #544bff; font-size: 14px; font-weight: 500;" type="submit">Enviar</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary  btn-block mt-4 mb-3" style="background-color: #c0c0c0;  font-size: 14px; font-weight: 500; border: none;" type="submit">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </form>

    </div>
</div>

<div style="height: 100px;">

</div>