<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Cerrar Incidente</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 mt-5">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Incidente</h6>
        </div>
        <form class="container-sizer" #cerrarIncidenteForm="ngForm" (ngSubmit)="cerrarIncidente(cerrarIncidenteForm)">
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label for="incidenteid">Titulo incidente</label>
                    <select name="incidenteId" id="incidenteid" class="form-control" [(ngModel)]="model.incidenteId" required>
                <option value=""  selected></option>
                <option  value="{{incidente.incidenteId}}" *ngFor="let incidente of listadoIncidentesAsignados" >{{ incidente.titulo }}</option>
              </select>
                    <div class="form-group col-md-6 mt-2" style="margin-left: -12px;">
                        <label for="comentarioCierre">Comentario Cierre</label>
                        <textarea style="width: 700px; " rows="5" cols="50" name="comentarioCierre" type="text" class="form-control" id="comentarioCierre" [(ngModel)]="model.comentarioCierre" required></textarea>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary mr-4">Guardar  <i class="fas fa-save"></i></button>
                <button style="margin-right: 240px;" type="button" class="btn btn-danger" (click)="limpiar(cerrarIncidenteForm)">Limpiar</button>
            </div>
        </form>

    </div>

</div>
<!-- /.container-fluid -->