<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gestión de Puestos</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 mt-5">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Puestos</h6>
        </div>

        <nav class="navbar justify-content-between mt-2">
            <a class="navbar-brand">
                <a class="btn btn-primary btn-icon-split ml-1" type="button" (click)="abrirModalCrear()">
                    <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
          </span>
                    <span class="text">Agregar Puesto</span>
                </a>
            </a>

            <form class="form-inline ">
                <label for="Buscar mr-4" style="margin-right: 10px !important;">Buscar Puesto:</label>
                <input class="form-control mr-sm-2" type="text" aria-label="Buscar" (keyup)="buscar(termino.value)" #termino>
            </form>
        </nav>
        <div class="card-body ">
            <div class="custom-scroll-dt">
                <table class="table table-bordered" width="100%" cellspacing="0" role="grid" style="width: 100%;">
                    <div class="cover" *ngIf="(hoverShowed && !loading)"></div>
                    <thead>
                        <tr>
                            <th>Departamento</th>
                            <th>Nombre</th>
                            <th>Estatus</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <app-loading class="mt-5" *ngIf="loading" style="margin-left: 700px; position: absolute;"></app-loading>

                    <tbody *ngIf="!loading">
                        <tr *ngFor="let puesto of listadoPuesto">
                            <td>{{ getNombreDepartamentoById(puesto.departamentoId)}}</td>
                            <td>{{puesto.nombre}}</td>
                            <td>{{getNombreStatusByCode(puesto.estatus)}}</td>
                            <td>
                                <a class="btn btn-success btn-icon-split" (click)="abrirModalEditar(puesto)">
                                    <span class="icon text-white-50">
                              <i class="fas fa-pencil-alt"></i>
                          </span>
                                    <span class="text">Modificar</span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-icon-split" (click)="eliminarPuesto(puesto.puestoId,idUsuarioSesion)">
                                    <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                            </span>
                                    <span class="text">Eliminar</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- Modal -->
<div class="modal fade bd-example-modal-lg margin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalCreatePuesto">
    <app-agregar-puesto [listadoDepartamentosActivos]="listadoDepartamentosActivos" (newItemEvent)="refrescarPuestos()"></app-agregar-puesto>
</div>

<div class="modal fade bd-example-modal-lg margin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalEditPuesto">
    <app-editar-puesto [puestoActual]="puestoActual" [listadoDepartamentosActivos]="listadoDepartamentosActivos" (newItemEvent)="refrescarPuestos()"></app-editar-puesto>
</div>