<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Documentos</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 mt-5">
        <div class="card-header py-3">
            <!-- <h6 class="m-0 font-weight-bold text-primary">Departamentos</h6> -->
        </div>

        <nav class="navbar justify-content-between mt-2">
            <form class="form-inline ">
                <label for="Buscar mr-4" style="margin-right: 10px !important;">Buscar Documento :</label>
                <input class="form-control mr-sm-2" type="text" aria-label="Buscar" (keyup)="buscar(termino.value)" #termino>
            </form>
        </nav>
        <div class="card-body ">
            <div class="custom-scroll-dt">
                <table class="table table-bordered" width="100%" cellspacing="0" role="grid" style="width: 100%;">
                    <div class="cover"></div>
                    <thead>
                        <tr>
                            <th>Tipo de documento</th>
                            <th>Institucion</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- <app-loading class="mt-5" *ngIf="loading" style="margin-left: 700px; position: absolute;"></app-loading> -->

                    <tbody *ngIf="!loading">
                        <tr *ngFor="let documento of listDocumentos">
                            <td>{{documento.tipoDocumento}}</td>
                            <td>{{documento.institucion}}</td>
                            <td>{{documento.fechaCreacion}}</td>
                            <td>{{documento.estado}}</td>
                            <td><a href="https://www.calameo.com/read/00533464096f8bc8f56ec" target="_blank">Ver..</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->