<div class="container py-5">
    <div class="row">
        <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">
            <h3 class="nav-pills rounded-pill nav-fill mb-3">Tarjeta de Credito</h3>
            <!-- Credit card form content -->
            <div class="tab-content">
            <!-- credit card info-->
            <div id="nav-tab-card" class="tab-pane fade show active" *ngIf="mensaje">
                <p class="alert alert-success" *ngIf="!error">Pago Realizado Satisfactoriamente!!!</p>
            </div>
                <form role="form">
                <div class="form-group">
                    <label for="username">Nombre completo (en la tarjeta)</label>
                    <input type="text" name="username" placeholder="Pedrito el mas" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="cardNumber">Numero Tarjeta</label>
                    <div class="input-group">
                    <input type="text" name="cardNumber" placeholder="numero de tu tarjeta" class="form-control" required>
                    <div class="input-group-append">
                        <span class="input-group-text text-muted">
                        <i class="fa fa-cc-visa mx-1"></i>
                        <i class="fa fa-cc-amex mx-1"></i>
                        <i class="fa fa-cc-mastercard mx-1"></i>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                    <div class="form-group">
                        <label><span class="hidden-xs">Expiracion</span></label>
                        <div class="input-group">
                        <input type="number" placeholder="MM" name="" class="form-control" required>
                        <input type="number" placeholder="YY" name="" class="form-control" required>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="form-group mb-4">
                        <label title="Three-digits code on the back of your card">CVV</label>
                        <input type="text" required class="form-control">
                    </div>
                    </div>
                </div>
                <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" (click)="pagando()"> Confirmar  </button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>