<div class="modal-dialog modal-lg" role="document" id="modalDahian2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Modificar Usuario</h5>
            <button type="button" class="close" (click)="cerrarModal()">
  <span aria-hidden="true">&times;</span>
</button>
        </div>
        <div class="modal-body">
            <form #editarUsuarioForm="ngForm" (ngSubmit)="modificarUsuario(editarUsuarioForm)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState3">Puesto</label>
                        <select name="puestoId" id="inputState3" class="form-control" [(ngModel)]="model.puestoId" required>
                        <option value="{{value?.value}}" *ngFor="let value of getPuestosActivos()" >{{value.descripcion}}</option> 
                  </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre2">Nombre</label>
                        <input name="nombre" type="text" class="form-control" id="nombre2" [(ngModel)]="model.nombre" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="apellido2">Apellido</label>
                        <input name="apellido" type="text" class="form-control" id="apellido2" [(ngModel)]="model.apellido" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cedula2">Cedula</label>
                        <input name="cedula" type="text" class="form-control" id="cedula2" [(ngModel)]="model.cedula" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="telefono2">Telefono</label>
                        <input name="telefono" type="tel" class="form-control" id="telefono2" [(ngModel)]="model.telefono" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="correo2">Correo</label>
                        <input name="correo" type="email" class="form-control" id="correo2" [(ngModel)]="model.correo" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fechaDeNacimiento2">Fecha De Nacimiento</label>
                        <input name="fechaNacimiento" type="date" class="form-control" id="fechaDeNacimiento2" [(ngModel)]="model.fechaNacimiento" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombreUsuario2">NombreUsuario</label>
                        <input name="nombreUsuario" type="email" class="form-control" id="nombreUsuario2" [(ngModel)]="model.nombreUsuario" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="contrasena2">Contraseña</label>
                        <input name="contrasena" type="password" class="form-control" id="contrasena2" [(ngModel)]="model.contrasena" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState1">Estatus</label>
                        <select name="estatus" id="inputState1" class="form-control" [(ngModel)]="model.estatus" required>
                        <option value="{{value?.value}}" *ngFor="let value of getValorEstatus()" >{{value?.descripcion}}</option>
                  </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary mr-4">Guardar  <i class="fas fa-save"></i></button>
                    <button style="margin-right: 240px; margin-left: 50px;" type="button" class="btn btn-danger" (click)="cerrarModal()">Cancelar  <i class="fas fa-times"></i></button>
                </div>
            </form>
        </div>

    </div>
</div>