table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: #f8f9fc;
}

.custom-scroll-dt {
    min-height: 30vh;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
    top: 0px;
    border-radius: 10px;
}

.custom-scroll-dt:hover::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 1px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #858796;
    height: 5em;
}

.cover {
    position: absolute;
    width: 97%;
    height: 6px;
    margin-top: -75px;
    background-color: #f8f9fc;
}

.margin-modal {
    margin-top: 100px;
}